* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: cyan;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

.hero-content {
    max-width: 500px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background: red;
}

/* HERO IMAGE */
.hero img {
    width: 300px;
}

/* FEATURES */
.features {
    padding: 60px 20px;
    text-align: center;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.box {
    background: white;
    padding: 25px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}

/* ABOUT */
.about {
    padding: 50px;
    background: #f4f4f4;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        margin-bottom: 20px;
    }
}
